---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <h2><a href="/" class="logo">flarmei</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/kontakt">Kontakt</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  .logo {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -1px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 2em;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    color: var(--accent);
    font-weight: 700;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
